include ../../common/pug/analytics.pug
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="Recollection.")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(property="og:url", content="https://recollection.ukon.dev")
meta(property="og:title", content="Recollection")
meta(property="og:description", content="Recollection.")
meta(property="og:image", content="https://recollection.ukon.dev/recollection-og-image.png")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@Uksksan")
meta(property="og:site_name", content="Recollection")
meta(property="og:locale", content="ja_JP")