html(lang="en")
	head
		include ./_meta.pug
		link(rel="stylesheet", href="./css/style.css")
		title xxx
	body
		.wrapper(data-barba="wrapper")
			.container(data-barba="container" data-barba-namespace="main")
				.canvas-wrap
					canvas#canvas.canvas
		script(src="js/main.js")