* {
	margin: 0;
	padding: 0;
	color: white;
	font-style: normal;
	box-sizing: border-box;

	font-family: Comfortaa, 'M PLUS Rounded 1c';
	font-weight: 300;
	font-style: normal;
}

html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	z-index: 10;
	&-title {
		padding: 20px 30px;
		font-size: 30px;
		font-family: 'Ropa Sans', sans-serif;
		
		@include sp {
			font-size: 20px;
		}
	}
}

.canvas-wrap {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
}
