html(lang="en")
	head
		include ./common/_analytics.pug
		include ./common/_meta.pug
		title Recollection
	body
		.wrapper(data-barba="wrapper")
			.canvas-wrap
				canvas#canvas.canvas
			.container(data-barba="container" data-barba-namespace="about")
				include ./common/_header.pug
				.about 
					.about-inner 
						p あの景色を忘れないように.
				.about-back
					a(href="../") Back
		script(src="js/main.js")