html(lang="en")
	head
		include ./common/_analytics.pug
		include ./common/_meta.pug
		title Recollection
	body
		.wrapper(data-barba="wrapper")
			.canvas-wrap
				canvas#canvas.canvas
			.container(data-barba="container" data-barba-namespace="main")
				include ./common/_header.pug
				.about-link 
					a(href="./about.html") About 
				.ui
					.ui-scroll
						.ui-scroll-item.prev
						.ui-scroll-item.next
		script(src="js/main.js")