* {
	margin: 0;
	padding: 0;
	color: white;
	font-style: normal;
	box-sizing: border-box;

	font-family: Comfortaa, 'M PLUS Rounded 1c';
	font-weight: 300;
	font-style: normal;
}

html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	left: 0; top: 0;
	width: 100%;
	padding: 30px 50px;
	z-index: 10;
	&-title {
		display: inline-block;
		font-size: 30px;
		font-family: 'Ropa Sans', sans-serif;
		text-decoration: none;
		
		@include sp {
			padding: 15px 30px;
			font-size: 23px;
		}
	}
}

.canvas-wrap {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	canvas {
		width: 100%;
		height: 100%;
	}
}


.contents {
	position: absolute;

	left: 50px;
	bottom: 50px;

	@include sp {
		left: 20px;
		bottom: 20px;
	}
	
	&-title {
		font-size: 120px;
		font-family: 'Bebas Neue';
		height: 125px;
		transform: translateY( 20px );
		opacity: 0;
		
		@include sp {
			font-size: 80px;
			height: 85px;

		}
		[data-info='true'] &{
			transform: translateY( 0px );
			opacity: 1;
			transition: 1s;
		}
	}
	&-date{
		font-family: 'Bebas Neue';
		font-size: 24px;
		opacity: 0;

		[data-info='true'] &{
			transform: translateY( 0px );
			opacity: 1;
			transition: 1s;
			transition-delay: .5s;
		}
	}
	&-description {
		display: none;
		font-size: 18px;
	}
}

.back {
	position: absolute;
	right: 50px; bottom: 40px;
	text-decoration: none;
	// font-weight: 10;
	// color: #888;
	opacity: 0;
	[data-info='true'] &{
		opacity: 1;
	}
}

.ui {
	position: absolute;
	width: 100%;
	height: 100%;
}

.about {
	a {
		font-size: 20px;
		font-family: 'Ropa Sans', sans-serif;
		text-decoration: none;
	}
}