* {
	margin: 0;
	padding: 0;
	color: white;
	font-style: normal;
	box-sizing: border-box;

	font-family: Comfortaa, 'M PLUS Rounded 1c';
	font-weight: 300;
	font-style: normal;
}

html, body {
	background-color: #000;
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	z-index: 10;
	&-title {
		padding: 30px 50px;
		font-size: 30px;
		font-family: 'Ropa Sans', sans-serif;
		
		@include sp {
			padding: 15px 30px;
			font-size: 23px;
		}
	}
}

.canvas-wrap {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
}


.contents {
	position: absolute;
	opacity: 0;

	left: 50px;
	bottom: 50px;

	transition: .4s opacity;
	
	[data-info='true'] &{
		opacity: 1;
	}
	
	&-title {
		font-size: 120px;
		font-family: 'Bebas Neue', cursive;
		height: 130px;
	}
	&-date{
		font-family: 'Bebas Neue', cursive;
		font-size: 24px;
	}
	&-description {
		display: none;
		font-size: 18px;
	}
}

.ui {
	position: absolute;
	width: 100%;
	height: 100%;
	
	// &-scroll {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 10px;
	// 	top: 50%;
	// 	transform: translateY( -50% );
	// 	display: flex;
	// 	justify-content: space-between;
	// 	&-item{
	// 		width: 100px;
	// 		height: 1px;
	// 		margin: 0 20px;

	// 		background-color: #ddd;
	// 	}
	// 	&-prev {
	// 	}
	// 	&-next {
			
	// 	}
	// }
}