meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link( href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ropa+Sans&family=Noto+Serif+JP:wght@200&family=Roboto+Slab&family=Bebas+Neue&display=swap", rel="stylesheet" )
link( href="/css/style.css", rel="stylesheet" )