meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(property="og:locale", content="ja_JP")
meta(property="og:site_name", content="Recollection")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@Uksksan")

link( href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ropa+Sans&family=Noto+Serif+JP:wght@200&family=Roboto+Slab&family=Bebas+Neue&display=swap", rel="stylesheet" )
link( href="/css/style.css", rel="stylesheet" )